.title1 {
    margin: auto;
text-align: center; 
font-family: Comic Sans MS; 
font-weight:bold; 
font-size: 100px; 
-ms-grid-row-span: 1;
color: #d1d400; 
text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}
.relieve {
    margin: auto;
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 40px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
text-shadow: 0px 3px 3px rgba(250, 246, 24, 0.4),0px -1px 1px rgba(0,0,0,0.3);
}
.imagen1 {
    height: 500px;
    width: 500px;
    margin: auto;
    display: flow-root;
}
h3 {
margin: auto;
text-align: center; 
font-family: Arial Black; 
font-weight: bold; font-size: 20px; 
background: #202020; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(71, 71, 42, 0.4),0px -1px 1px rgba(0,0,0,0.3);
}